doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(href="css/main.css", type="text/css", rel="stylesheet")
  body
    header.header-site
    section.section-intro
      .container.container-padding-100
        h1.section-intro-title Hello World!
        p.section-intro-text This is my first site.
        button.section-intro-btn About me
        label
          input(type='text', placeholder='Write me', class='section-intro-form')
